<ion-content [fullscreen]="true">
  <app-header-tab titulo="Tab 4"></app-header-tab>
  <ion-list>
    <ion-list-header>
      <p>Adivina un número del 0 al 100</p>
      <ion-button (click)="onClick()">COMPROBAR</ion-button>  
    </ion-list-header>
    <ion-item>
      <ion-label>Número: </ion-label>
      <ion-input type="number" [(ngModel)]="numeroIntroducido" placeholder="Introduzca un número"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{mensaje}}</ion-label> 
    </ion-item>
    <ion-item>
      <ion-label color="primary">Numero de intentos: {{contador}}</ion-label> 
    </ion-item>
    <ion-item>
      <ion-button (click)="nuevaPartida()" *ngIf="acierto == true">¿QUIERES VOLVER A JUGAR?</ion-button>  
    </ion-item>
  </ion-list>
</ion-content>
